{% extends '_template.html.twig' %}

{% block title %}Interplanetravels - Special Deal
{% endblock %}

{% block main %}
	{% if promotion %}
		<h2>{{ promotion.title }}</h2>
		<p>
			<small>From
				<strong>{{ promotion.dateStart|date('Y-m-d') }}</strong>
				to
				<strong>{{ promotion.dateEnd|date('Y-m-d') }}</strong>
				(expires in
				{{ expires_in(promotion.dateEnd) }})</small>
		</p>
		<img class="my-2" src="https://via.placeholder.com/300x150/54718E/DEE8EE?text=Promotion" alt="placeholder"/>
		<p>{{ promotion.description }}</p>
		<h2>Travels included in this promotion</h2>
		{% if travels_list %}
			<div class="row row-cols-1 row-cols-md-3">
				{% for travel in travels_list %}
					<div class="col-4 mb-4">
						<div class="card">
							<img src="https://via.placeholder.com/300x150/54718E/DEE8EE?text=Travel" class="card-img-top" alt="Photo of SuperTravel">
							<div class="card-body">
								<h4 class="card-title">{{ travel.name }}</h4>
								<p class="card-text">{{ travel.description|format_text(100)|raw() }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
