{% extends '_template.html.twig' %}

{% block title %}Interplanetravels - Travel
{% endblock %}

{% block main %}
	{% if travel %}
		<h2>{{ travel.name }}</h2>
		<img class="my-2" src="https://via.placeholder.com/300x150/54718E/DEE8EE?text=Travel" alt="placeholder">
		<p>{{ travel.description }}</p>
		{% if travel.maxPlaces == 0 %}
			<p>This travel is currently unavailable.</p>
			{% for message in app.flashes('bookmarkSuccess') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% if app.user %}
				<p>If you want to be alerted when it becomes available, bookmark it!</p>
				<button type="submit" class="bouton" name="bookmark">Bookmark</button>
			{% else %}
				<p>Sign in to be able to bookmark it and be alerted when it becomes available!</p>
			{% endif %}
		{% else %}
			{% if travelDate_list %}
				<table id="travelDates" class="table">
					<thead class="thead-light">
						<tr>
							<th>Departure</th>
							<th>Return</th>
							<th>Remaining places</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for travelDate in travelDate_list %}
							<tr>
								<td>
									{{ travelDate.dateDeparture|date('Y-m-d h:i') }}
								</td>
								<td>
									{{ travelDate.dateReturn|date('Y-m-d h:i') }}
								</td>
								<td>
									{{ travel.maxPlaces - booked[travelDate.id] }}
								</td>
								<td>
									{% if travel.maxPlaces - booked[travelDate.id] > 0 %}
										<a class="bouton px-3 py-2 d-inline-block my-1" href="{{ path('booking', {id: travelDate.id}) }}">Book</a>
									{% else %}
										Full.
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		{% endif %}
		<h2>Destinations in this travel</h2>
		{% if travel.itineraries %}
			<div class="row row-cols-1 row-cols-md-3 mt-3">
				{% for itinerary in travel.itineraries %}
					<div class="col mb-4">
						<a class="no-underline" href="{{ path('destination', {id: itinerary.destination.id}) }}">
							<div class="card">
								<img src="https://via.placeholder.com/300x150/54718E/DEE8EE?text=Destination" class="card-img-top" alt="Photo of SuperTravel">
								<div class="card-body">
									<h4 class="card-title">Day
										{{ itinerary.dayArrival }}
										:
										{{ itinerary.destination.name }}</h4>
									<p class="card-text">{{ itinerary.destination.description|format_text(100)|raw() }}</p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
